* {
  background-color: black;
  color: green;
  font-family: "Space Mono", monospace;
}

.logoContainer,
.logoContainer:before,
.logoContainer:after {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}
.logoContainer button {
  height: 300px;
  width: 400px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  overflow: hidden;
  background-color: black;
  border: black;
}

.logoContainer button:before {
  content: "";
  background-image: conic-gradient(green 20deg, transparent 120deg);
  height: 150%;
  width: 150%;
  position: absolute;
  left: -25%;
  top: -25%;
  animation: rotate 3s infinite linear;
}
@keyframes rotate {
  100% {
    transform: rotate(-360deg);
  }
}
.logoContainer button:after {
  content: "SPACECREW";
  height: 94%;
  width: 94%;
  position: absolute;
  background-color: black;
  border-radius: 5px;
  top: 3%;
  left: 3%;
  color: green;
  display: grid;
  place-items: center;
  font-size: 40px;
  letter-spacing: 6px;
}

.mission {
  color: green;
  background-color: black;
  font-family: "Space Mono", monospace;
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mission-subtext {
  font-size: 1.5em;
  text-align: center;
  width: 40%;
}

.startBtn {
  background-color: green;
  color: black;
  border: none;
  font-size: 1.5em;
}

.startBtn:hover {
  background-color: black;
  color: green;
  border: none;
}
.decoration {
  color: green;
  border: 1px solid green;
  padding: 5px;
}
.scrollbar {
  position: relative;
  overflow-y: scroll;
  height: 500px;
  background: green;
}
